<h1 class="mb-4">Appointments</h1>

<table class="table table-striped table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Date</th>
      <th>Pet name</th>
      <th>Vet name</th>
      <th>Reason</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= link_to appointment.date.strftime("%B %d, %Y %I:%M %p"), appointment_path(appointment) %></td>
        <td><%= link_to appointment.pet.name, pet_path(appointment.pet) %></td>
        <td><%= link_to appointment.vet.full_name, vet_path(appointment.vet) %></td>
        <td><%= appointment.reason %></td>
        <td><%= appointment.status.humanize %></td>
      </tr>
    <% end %>
  </tbody>
</table>