<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container">
    <%= link_to "VetClinic", root_path, class: "navbar-brand" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to "Owners", owners_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Pets", pets_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Vets", vets_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Appointments", appointments_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>